body {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

/*
    green: #4FB477
    blue: #33B8FF
    purple: #9250E2

*/

* {
    font-family: arial, arial, helvetica, sans-serif;
    color: #ffffff;
}

svg {
    fill: #111111;
    filter: drop-shadow(0 0 0.2rem #141414);
}

.hidden {
    opacity: 0;
}

.btn-play {
    cursor: pointer;
    color: #4FB477;
    background-color: #121212;
    border: 0.2rem solid #4FB477;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 0.6rem #4FB477;
    text-shadow: 0 0 0.6rem #4FB477;
    transition: 0.6s;
}

.btn-play:hover {
    color: #121212;
    background-color: #4FB477;
}

.state {

}

.header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 3rem;
    font-weight: bold;
}

.header span {
    opacity: 0;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    height: 50vh;
    width: 50vh;
    margin: auto;
    background-color: #292929;
}

.board_cell {
    background-color: #121212;
    position: relative;
    cursor: pointer;
}

.board_cell svg {
    position: absolute;
    inset: 0;
    margin: auto;
}

.board_cell svg:nth-child(1),
.board_cell svg:nth-child(2),
.player__small svg {
    height: 2rem;
    width: 2rem;
    /*fill: #9250E2;*/
}

.board_cell svg:nth-child(3),
.board_cell svg:nth-child(4),
.player__medium svg {
    height: 4rem;
    width: 4rem;
}

.board_cell svg:nth-child(5),
.board_cell svg:nth-child(6),
.player__big svg {
    height: 6rem;
    width: 6rem;
}

.board_cell svg:nth-child(odd) {
    z-index: 1;
}

.playground {
    width: 80vw;
    height: calc(60vh - 6rem);
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {

}

.player_wrapper {

}

.player {
    width: auto;
    height: 50vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.player div svg {
    filter: drop-shadow(0 0 0.3rem #292929);
}

.player__o {
    order: -1;
}

.player__x {

}
