body {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

* {
    font-family: arial, arial, helvetica, sans-serif;
    color: #ffffff;
}

.btn-play {
    cursor: pointer;
    color: #4FB477;
    background-color: #121212;
    border: 0.2rem solid #4FB477;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 0.6rem #4FB477;
    text-shadow: 0 0 0.6rem #4FB477;
    transition: 0.6s;
}

.btn-play:hover {
    color: #121212;
    background-color: #4FB477;
}

.state {
    font-weight: bold;
}

.header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 3rem;
    font-weight: bold;
}

.header__title span:nth-child(odd) {
    color: #9250E2;
    text-shadow: 0 0 0.6rem #9250E2;
}

.header__title span:nth-child(even) {
    color: #33B8FF;
    text-shadow: 0 0 0.6rem #33B8FF;
}

.state {
    opacity: 0;
    transform: translateY(2rem);
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    height: min(50vw, 50vh);
    width: min(50vw, 50vh);
    margin: 2rem;
    background-color: #292929;
}

.board_cell {
    background-color: #121212;
    position: relative;
}

.board_cell svg {
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
}

.player__cell:nth-child(1) svg {
    height: 2rem;
    width: 2rem;
}

.player__cell:nth-child(2) svg {
    height: 4rem;
    width: 4rem;
}

.player__cell:nth-child(3) svg {
    height: 6rem;
    width: 6rem;
}

.board_cell svg:nth-child(odd) {
    fill: #9250E2;
    filter: drop-shadow(0 0 0.6rem #9250E2)
}

.board_cell svg:nth-child(even) {
    fill: #33B8FF;
    filter: drop-shadow(0 0 0.2rem #33B8FF);
}

.playground {
    width: 80vw;
    height: calc(60vh - 6rem);
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: auto;
    height: min(50vw, 50vh);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.player div svg {
    filter: drop-shadow(0 0 0.3rem #646369);
    fill: #646369
}

.player__o {
    order: -1;
}

.player__x {
    order: 1;
}

.cell__show {
    z-index: 2;
    opacity: 1;
}